<h1>New Category</h1>

<%= form_with model: @category do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>